.category__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 5px;
}

.category-tile:hover {
  transform: scale(1.05);
}

.recent__products--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
