.home__banner {
  width: 100%;
}

.seeMore {
  text-align: right;
  display: block;
  text-decoration: none;
}

.sale__banner--container > img {
  width: 100%;
  padding: 30px;
}

.recent__products--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.product-preview__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
