.product-preview__link {
  cursor: pointer;
  width: 13rem;
  margin: 5px;
}

.product-preview__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-preview__img {
  height: 150px;
  object-fit: cover;
}

/* Phone size ex. iPhone 13 Pro Max and smaller */
@media screen and (max-width: 480px) {
  .product-preview__link {
    width: 7rem;
    margin: 2px;
  }

  .product-preview__img {
    height: 100px;
  }
}
